python>=3.9, <3.10                                        # (dev)
dotmap
fastparquet
graphviz
isort                                                     # (dev)
jupyter
jupyterlab
matplotlib
numpy>=1.21.0, <2
opencv-python
pandas>=1.3, <2
scikit-learn
scipy
seaborn
setuptools_scm

# Developers (can be separated out in a `dev_req.txt` file in future)
bandit
black
flake8
pre-commit
pytest
pytest-cov
setuptools