# Builds the aeon environment; lints formatting and smells via ruff; checks type annotations via pyright;
# tests via pytest; reports test coverage via pytest-cov and codecov.

name: swc-aeon
on:
  push:
    branches: ['**']
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]
  workflow_dispatch: # allows running manually from GitHub Actions

jobs:
  build_env_run_tests: # runs codebase checks and tests using pyproject.toml
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: Linux
            os: ubuntu-latest
          - name: Windows
            os: windows-latest
          - name: macOS
            os: macos-latest
        python-version: [3.11]
    name: ${{ matrix.platform.name }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.platform.os }}
    if: github.event.pull_request.draft == false
    defaults:
      run:
        shell: ${{ matrix.platform.os == 'windows-latest' && 'cmd' || 'bash' }} -l {0} # Adjust shell based on OS
    steps:
      # ----------------------------------------------------------------------- Checkout
      - name: Checkout
        uses: actions/checkout@v5

      # ----------------------------------------------------------------------- Set up tools
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      # ----------------------------------------------------------------------- Configure build
      - name: Install the project
        run: uv sync --locked --all-extras --dev
        
      # ----------------------------------------------------------------------- Build
      - name: ruff
        run: uv run ruff check .

      - name: pyright
        run: uv run pyright --level error --project ./pyproject.toml .

      - name: Build
        run: uv build

      # ----------------------------------------------------------------------- Test
      - name: Run tests
        run: uv run pytest tests/

      # ----------------------------------------------------------------------- Test coverage
      - name: Generate test coverage report
        if: ${{ matrix.platform.os == 'ubuntu-latest' }}
        run: uv run pytest tests/ --cov-report=xml:tests/test_coverage/test_coverage_report.xml

      - name: Upload test coverage report to codecov
        if: ${{ matrix.platform.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: tests/test_coverage/
          files: test_coverage_report.xml
          fail_ci_if_error: true
          verbose: true
